body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.apon{
    margin-top: 40px;
    margin-bottom: 20px;
}

.orange{
    color: orange;
}
.flexible-cotaner{
    display:flex;
    margin-bottom: 100px;
}
.half-width{
    width:50%;
    margin-left: 5%;
}
.half-width img{
    width: 80%;
}

.link-button{
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    background-image: linear-gradient(orange,tomato);
    border-radius: 20px;
    font-weight: 700;
}
.top-banner{
    background-image: url(img/7.png);
}
.recipies-item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 10px;
    border-radius: 20px;

}
.recipies-item img{
    width:80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
.recipies1{
    text-align: center;
    margin-bottom: 50px;
}

